<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bloger</title>
</head>
<body>
    <p><a href = "/signup">Sign up</a></p>
    {% if user%}
        Welcome {{ user.username }}, here are your blogs, You can create new blog <a href = "/create">here</a>, or <a href = "/logout">logout</a>
        {% for blog in blogs%}
        <p>{{ blog.content }}</p>
        {% endfor %}
    {% else %}
        You are not logged in, Please <a href = "login">Loggin</a>
    {% endif %}
</body>
</html>